<div class = 'container col-md-8'>

	<h1> Menu Suggestions <small> & WLC Approved Foods</small></h1>
	<br><br>


<p> The list provided are all nutritent rich foods that will give your body what it needs and keep out what it doesn't. Our main objective is to get you to your target weight goal as well as maintain optimal nutrition during the process.</p>



		<h3 style = 'color:blue'>Beverages<small>Hydration</small></h3> <br>
		<p> Hydration is a HUGE part of this protocol. We suggest 1/2 ounce of water per body pound per day.<br> 
			<b> Example: </b> If you weigh 180lbs you must drink 90 oz. of purified or filtered water per day. We realize this is a challenge for some people but it helps flush our toxins in the body and helps keep you regular during this program. Here are some other beverage options to choose from.</p><br><br>
			<table class = 'table'>
				<thead>
					<th class = 'centerme'> Beverages </th>
					<th class = 'centerme'># of Calories </th>
				</thead>
				<tr class = 'centerme'>
					<td class = 'blue'>Zevia</td>
					<td>0 </td>
				</tr>
				<tr class = 'centerme'>
					<td class = 'blue'>
						La Croix
					</td>
					<td> 0 </td>
				</tr>
				<tr class = 'centerme'>
					<td class = 'blue'>
						Perrier
					</td>
					<td> 0 </td>
				</tr>
				<tr class = 'centerme'>
					<td class = 'blue'>
						Pellegrino
					</td>
					<td> 0 </td>
				</tr>
				<tr class = 'centerme'>
					<td class = 'blue'>
						Green Tea
					</td>
					<td> 0 </td>
				</tr>
				<tr class = 'centerme'>
					<td class = 'blue'>
						Oolong Tea
					</td>
					<td> 0 </td>
				</tr>
				<tr class = 'centerme'>
					<td class = 'blue'>
						Yerba Mate Tea
					</td>
					<td> 0 </td>
				</tr>
				<tr class = 'centerme'>
					<td class = 'blue'>
						All Variations Of Tea (unsweetened)
					</td>
					<td> 0 </td>
				</tr>
				<tr class = 'centerme'>
					<td class = 'blue'>
						Unsweetened Coconut Milk
					</td>
					<td> 45 </td>
				</tr>
				<tr class = 'centerme'>
					<td class = 'blue'>
						Unsweetened Almond Milk
					</td>
					<td> 40 </td>
				</tr>
				<tr class = 'centerme'>
					<td class = 'blue'>
						Unsweetened Rice Milk
					</td>
					<td> 45 </td>
				</tr>
				<tr class = 'centerme'>
					<td class = 'blue'>
						Carbonated Water (flavored)
					</td>
					<td> 0 </td>
				</tr>
				<tr class = 'centerme'>
					<td class = 'blue'>
						Vitamin Water Zero
					</td>
					<td> 0 </td>
				</tr>
				<tr class = 'centerme'>
					<td class = 'blue'>
						Crystal Light PURE
					</td>
					<td> 0 </td>
				</tr>
			</table>
<br><br>
<div class = 'alert-box'>
<table>
	<tr>
		<td>
	
		<img src= 'http://furtaev.ru/preview/reminder_small.png'>	

		</td>
		<td>
<ul>
	<li> Also infusing water with lemon/lime will assist with absorption and increase hydration </li>
	<li> If you need to sweeten your beverage use <u>NATURAL</u> sweeteners like STEVIA, TRUVIA, Zero or Zsweet.</li>
	<li>Avoid using artifical chemical sweeteners such as Equal, Sweet&Low and Splenda. THESE WILL SLOW DOWN WEIGHT LOSS.</li>
	<li> ALWAYS filter your water, do not drink tap water - unless filtered (read my article here)</li>
</ul>
		</td>
	</tr>
</table>
</div>


			<br><br>

	
		<h3 style = 'color:blue'>Proteins</h3> <small>Grilled or Baked (NO FRYING) <br>
<p> Calories calculated at 3.5oz servings. This is the appropriate serving size unless otherwise listed. 3.5 ounces is roughly the size of the palm of your hand. Remember <span style ='color:blue'>WE ARE NOT CALORIE COUNTING</span>
		<br>
		<table class = 'table'>
				<thead>
					<th class = 'centerme'> Source </th>
					<th class = 'centerme'># of Calories </th>
				</thead>
				<tr class = 'centerme'>
					<td class = 'blue'>Chicken Breast</td>
					<td>157 </td>
				</tr>
				<tr class = 'centerme'>
					<td class = 'blue'>
						Edamame
					</td>
					<td> 120 </td>
				</tr>
				<tr class = 'centerme'>
					<td class = 'blue'>
						Egg White(3)
					</td>
					<td> 51 </td>
				</tr>
				<tr class = 'centerme'>
					<td class = 'blue'>
						Crab
					</td>
					<td> 83 </td>
				</tr>
				<tr class = 'centerme'>
					<td class = 'blue'>
						Halibut
					</td>
					<td> 119 </td>
				</tr>
				<tr class = 'centerme'>
					<td class = 'blue'>
						Tofu (1/2 cup serving)
					</td>
					<td> 94(10.1g of protein) </td>
				</tr>
				<tr class = 'centerme'>
					<td class = 'blue'>
						Greek Yoghurt (Plain) (7.2oz Serving)
					</td>
					<td> 108-130 </td>
				</tr>
			</table>
<br><br>
<div class = 'alert-box'>
<table>
	<tr>
		<td>
	
		<img src= 'http://furtaev.ru/preview/reminder_small.png'>	

		</td>
		<td>
<ul>
	<li> A wide variety of proteins give you a wide array of nutrition. </li>
	
</ul>
		</td>
	</tr>
</table>
</div>

			<br><br>

	
	<h3 style = 'color:blue'>Vegetables<br><small>All veggies may be served raw, steamed or grilled. Caloried below calulated at 1 cup or 3.5 ounces.</h3> <br><br><br>
		<table class = 'table'>
		<thead>
			<th class ='centerme'>Name</th>
			<th class ='centerme'>Serving Size</th>
			<th class ='centerme'>Calories</th>
		</thead>
		<tr class='centerme'>
			<td class ='blue'>Artichoke</td>
			<td class = 'blue'>1</td>
			<td> 141 (5.3 grams of protein) </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Asparagus</td>
			<td class = 'blue'>6 spears</td>
			<td> 30  </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Arugula Salad</td>
			<td class = 'blue'>Unlimited</td>
			<td> Negative </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Bok Choy</td>
			<td class = 'blue'>1</td>
			<td> 10 (2.6g of protein) </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Brussel Sprouts</td>
			<td class = 'blue'>1</td>
			<td> 38 </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Cabbage (green)</td>
			<td class = 'blue'> Unlimited </td>
			<td> Negative </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Cabbage (Red)</td>
			<td class = 'blue'>1 </td>
			<td> 29 </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Celery</td>
			<td class = 'blue'>Unlimited</td>
			<td> Negative </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Collard Greens</td>
			<td class = 'blue'>1</td>
			<td> 30 (3g protein) </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Cucumber</td>
			<td class = 'blue'>Unlimited</td>
			<td> Negative(0.5g protein) </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Fennel</td>
			<td class = 'blue'>1</td>
			<td> 12 </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Kale</td>
			<td class = 'blue'>1</td>
			<td> 50(7g protein) </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Leaf Lettuce (romaine, dandelion, mixed greens, etc.)</td>
			<td class = 'blue'>Unlimited</td>
			<td> Negative </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Leek</td>
			<td class = 'blue'>1</td>
			<td> 10 </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Mustard Greens</td>
			<td class = 'blue'>1</td>
			<td> 30 (3.1g protein) </td>
		</tr>

		<tr class='centerme'>
			<td class ='blue'>Okra</td>
			<td class = 'blue'>10 pods</td>
			<td> 25 (3.8g protein) </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Onion (red)</td>
			<td class = 'blue'>1</td>
			<td> 15 </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Spinach</td>
			<td class = 'blue'>Unlimited</td>
			<td> Negative (3.5g protein) </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Spaghetti Squash (baked)</td>
			<td class = 'blue'>1</td>
			<td> 45 </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Squash (yellow)</td>
			<td class = 'blue'>1</td>
			<td> 25(1.5g protein) </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Swiss Chard</td>
			<td class = 'blue'>1</td>
			<td> 32 </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Tomatoes</td>
			<td class = 'blue'>1</td>
			<td> 20(1.5g protein) </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Turnips</td>
			<td class = 'blue'>1</td>
			<td> 21 </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Watercress</td>
			<td class = 'blue'>1 bunch</td>
			<td> 20 </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Zucchini</td>
			<td class = 'blue'>1</td>
			<td> 30 </td>
		</tr>
</table>
<br><br>
	
	<h3 style = 'color:blue'>Fruit            <small> Must Be Eaten <u> NOT </u> Juiced - Choose 2 Different servings per day</small></h3> <br>
	<table class = 'table'>
		<thead>
			<th class ='centerme'>Name</th>
			<th class ='centerme'>Serving Size</th>
			<th class ='centerme'>Calories</th>
		</thead>
		<tr class='centerme'>
			<td class ='blue'>Apple (any kind)</td>
			<td class = 'blue'>1 Medium Size</td>
			<td> 44 </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Apricot</td>
			<td class = 'blue'>1</td>
			<td> 30 </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Blackberry</td>
			<td class = 'blue'>1 cup</td>
			<td> 70 </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Blueberry</td>
			<td class = 'blue'>1 cup</td>
			<td> 50 </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Grapefruit</td>
			<td class = 'blue'>1</td>
			<td> 100 </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Lemon</td>
			<td class = 'blue'>1 </td>
			<td> 20 </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Lime</td>
			<td class = 'blue'>1 </td>
			<td> 10 </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Orange</td>
			<td class = 'blue'>1</td>
			<td> 37 </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Pear</td>
			<td class = 'blue'>1</td>
			<td> 45 </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Plum</td>
			<td class = 'blue'>1</td>
			<td> 25 </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Raspberry</td>
			<td class = 'blue'>1</td>
			<td> 64 </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Strawberry</td>
			<td class = 'blue'>1</td>
			<td> 49 </td>
		</tr>
		<tr class='centerme'>
			<td class ='blue'>Tangerine</td>
			<td class = 'blue'>1</td>
			<td> 26 </td>
		</tr>
</table>
<br><br>

<br><br>

<br><br>
<center><%= link_to 'Conclusion >>', pages_conclusion_path %></center>

<br><br>
</div>

<%= render 'layouts/menu'%>