<div class = 'container col-md-8'>
	It is imperative that you follow everything here to gain the desired results.<br><br>

	[Music playlist for motivation]<br>
	[articles for motivation]<br>
	[a blog just for you]<br>
</div>
<%= render 'layouts/menu' %>