<div class = 'container col-md-8'>

	<h2>Welcome to Accent WLC Online.</h2><br><h4>Congratulations on your decision to join our amazing weight loss program.</h4>
	<br><br>
	<p> You've taken a tremendous step! Just buying the program shows how dedicated and focused you are to shedding the pounds and feeling the best you've ever felt.</p>

<br><br>
	<h2>So, What's Next?</h2>
	<br><br>
	<p> We've outlined a brief guide to maximize the results you receive from this program. By following this plan you should lose a lot of weight rapidly and safely. More importantly you will be losing inched of fat, and people will notice in a matter of <em>10-14</em> days. </p>
	<p>Currently close to 80 million Americans are OBESE (that's one third of adults) and another 80 million are overweight. Obesity related conditions include heart disease, stroke, type 2 diabetes, and certain cancers - some of the leading causes of preventable health.</p>
	<p> The good news is that we have seen over 75,000 patients nationwide use our program with great success. Many people have also either lowered or completely stopped using their blood pressure, cholesterol and diabetes medications.</p>
	<p> Most of us have tried one weight loss or diet program after another, and unfortunately for one reason or another have met with failure. There are serveral reasons for this failure with the main reason being that we lose weight so slowly, become demotivated and therefore quit.</p>
	<p> On Our program most people will lose anywhere from 8-15 pounds their first 10 days. Bigger people lose more </p>
	<p> Please give this program your utmost best, especially the first 10 days, when you see what happens to you and how you feel, you will continue doing it, and when family members, friends, and coworkers start noticing and ask what is is you're doing, send them our way. :) </p>

	<br>
	PLEASE READ THROUGH THIS GUIDE AT LEAST TWICE. PLEASE READ EVERYTHING AND PAY CLOSE ATTENTION IF YOU WANT TO ACHIEVE MAXIMUM RESULTS.<br><br>

	BEFORE CONTINUING PLEASE ENTER YOUR GOAL WEIGHT HERE.

	<br><br>
	<center><%= link_to 'Overview >>', pages_overview_path %></center>
	<br><br>

</div>
<%= render 'layouts/menu' %>