<div class = 'container col-md-8'>
	<h1> Overview </h1>

	<table class='table'>
		<thead>
			<th>Phase</th>
			<th>Direction</th>
			<th>Explanation</th>
		</thead>
		<tr>
			<td style ='color:blue'><b> Day 1 & 2 Natural Fat </b></td>
			<td> <ul><li>Day 1 Begin <b> ADVANCE </b> spray 3x in morning and 3x in the evening</li><li>Begin <b>ENDURE B12</b> every other day</li><li>Record True Weight Daily and record in your online log</li><li>Eat 50% more than normal</li>
				<td> Fat loading prepares the body and brain for the low caloric diet in PHASE 2</td>
		</tr>
		<tr>
			<td style ='color:blue'><b>Phase 2 Weight Loss</b><br>Day 3 through the remainder of your program (25-50 days or more)</b></td>
			<td><ul><li>Start eating 6x per day and ONLY foods listed in this book </li> <li> Continue taking both the <b>ADVANCE</b> soray as well as the <b>ENDURE</b>. Also start the <b>LEAN</b> pills during this phase. Take 1 <b>LEAN</b> with breakfast and 1 lean with lunch.</li><li> Avoid all foods outside the program</li>
				<li>Weigh Everyday</li></td>
				<td>On your diet days your body will start to draw fat from your fat reserves</td>
		</tr>
		<tr>
			<td style='color:blue;'><b>Phase 3 Stabilization</b><br>(21 days after diet or phase 2)</td>
			<td> <ul><li>NO Starches or Sugars</li><li>Increase Calorie Intake</li><li>Introduce other foods not on the diet</li></ul></td>
			<td> The stabilization phase is to maintain your new weight. This is a way to exit the program without gaining the weight back. You should stay withing 2 lbs fo your goal weight.</td>
		</tr>
	</table>
	<br><br>
<center><%= link_to 'Plateau Breakers >>', pages_plateau_breakers_path %></center>
<br><br>
</div>
<%= render 'layouts/menu' %>