<div class = 'container col-md-8'>

<h1>Phase 2 <small> Day 3 </small></h1>
<br><br>
<p style = 'color:blue'> Day 3 - Goal Weight/ The Weight Loss Phase </p>
<br>
<p> During the weight loss phase you will follow a low calorie diet that will consist of nutrient rich fruits, vegetables & lean proteins. This program is <b> LOW to ZERO Carbohydrates, Fat, Dairy, or Sugar.</b> You will be in a calorie range of 600-800 calories per day. This is low but the types of foods you will find are high in nutrient value, plus the <b>ADVANCE</b> spray will help your body to have adequate nutrition. This is important so your body does not deplete muscle mass. Also remember with this protocol calorie counting is not as important as portion size & frequency of meals is what really matters.
	</p>

	<br><br>

	<p class = 'blue'>Product Use During Phase 2
	</p>
<br><p> Continue with the <b>ADVANCE</b> spray two times per day as well as the <b>ENDURE B12</b> one time every other day. At this point you will also start the <b>LEAN</b> appetite support pills. You should take ONE capsule with breakfast and one with lunch.</p>
<br>
<p class = 'blue'> Daily Routine During Phase 2</p>
<br><p><em> <%= link_to 'See Food Lists for portion size and options', pages_approvedfoods_path %> </em></p>
<br><br>
<table class ='table'>
	<thead>
		<th class='centerme'> Phase 2: </th>
		<th class = 'centerme'> Daily Routine </th>
	</thead>
	<tr>
		<td class ='blue'><b>BREAKFAST</td>
		<td> <ul><li>1 Serving Lean Protein</li></ul></td>
	</tr>
	<tr>
		<td class ='blue'><b>SNACK 1</td>
		<td> <ul><li>1 Serving Fruit</li></ul></td>
	</tr>
	<tr>
		<td class ='blue'><b>LUNCH</td>
		<td> <ul><li>1 Serving Lean Protein</li><li> 1 Serving Vegetable</li></ul></td>
	</tr>
	<tr>
		<td class ='blue'><b>SNACK 2</td>
		<td> <ul><li>1 Serving Vegetable/Fruit</li></ul></td>
	</tr>
	<tr>
		<td class ='blue'><b>DINNER</td>
		<td> <ul><li>1 Serving Lean Protein</li><li> 1 Serving Vegetable</li></ul></td>
	</tr>
	<tr>
		<td class ='blue'><b>SNACK 3</td>
		<td> <ul><li>1 Serving Vegetable</li></ul></td>
	</tr>
</table>
<br><br>
<div class = 'alert-box'>
<table>
	<tr>
		<td>
	
		<img src= 'http://furtaev.ru/preview/reminder_small.png'>	

		</td>
		<td>
<ul>
	<h3>TIPS:</h2>
	<li>You should be eating every 2-3 hours. </li>
	<li> DO NOT SKIP MEALS - This will only negatively effect your results. </li>
	<li> Eat your fruit in the morning hours to eliminate high blood sugar into evening hours. </li>
	<li> STAY HYDRATED </li>
	<li>Prep your meals, measuring out and preparing your meals in advance can save you time as well as cut down the chances for poor decision making. </li>
<br>
	"If you fail to prepare, prepare to fail!"
	
</ul>
		</td>
	</tr>
</table>
</div><br><br>

<br><br>
<center><%= link_to 'Phase 3 >>', pages_phase3_path %></center>
</div>
<br><br>



<%= render 'layouts/menu' %>
<br><br><br>
