<div class = 'container col-md-8'>
	<h1>Phase I: <small>Getting Started - Fat Loading Days</small></h1>
	<br><br>
	<p style = 'color: blue'>Day 1 & 2 Fat Loading Days</p>
	<p>The fat loading days of this program are to get you both mentally and physically prepared for the program. Typically speaking when you are in caloric deficit or 'low calorie diet' your body's own natural reaction is to go into a survival mode where it tends to store body fat for survival. By introducing the <b> ADVANCE</b> spray, we are getting the brain to relax as we introduce the spray to the system. Fat loading puts your body into a relaxed state. This is where we need to be prior to moving into phase 2.</p>
	<br><br>
	<p style = 'color:blue'>Product Use During Fat Loading Days</p>
	<p> Start day 1 through end of phase 2. Start using the <b>ADVANCE</b> spray, shake bottle thoroughly and spray 3 times directly under the tongue first thing in the morning and again 3 times in the evening before bed.</p>
		<br>
		<table>
			<tr>
				<td>
				<p> Make sure to HOLD THE SOLUTION UNDER THE TONGUE FOR <b><em>3-5</em></b> MINUTES TO MAXIMIZE EFFECTIVENESS.</p>
				</td>
		<br>
		<td>
			<img src= 'http://www.hghmagazine.com/wp-content/uploads/2012/01/undertongue.jpg'>
</td>
	</tr>
</table>
<br><br>
<p style = 'color:blue'>Start Every Other Day From Day 1 Through The End Of The Program</p>
<p> Start the <b> B12 ENDURE</b> this tablet should be placed directly under the tonuge and allowed to dissolve 3-5 minutes. This is a 5,000 mcg tab so every other day is recommended. </p>
<br>
<p style='color:blue'> Your TRUE Weight </p>
<p> It is very important that you keep an accurate record of your weight. You SHOULD ALWAYS WEIGH YOURSELF FIRST THING IN THE MORNING AFTER USING THE BATHROOM. Remember to use you weight loss journal here online (you can print the worksheets and fill out the form online at the end of the week). Seeing the weight fall off will help keep you motivated throughout this program.</p>
<br>
<p style = 'color:blue'>Begin Fat Loading</p>
<p> During the first two days you will OVEREAT! Load up on fats and carbs. The goal is to eat 50% more than your current caloric intake. This will enable your body to access your abnormal fat deposits once you begin the low calorie routine or phase 2. Eat what you like but stick to healthy foods(heres some examples) and stay away from high suagr items (examples here).</p>
<br><br>

<center><%= link_to 'Phase 2 >>', pages_phase2_path %></center>
<br><br>

<br>

<br>

</div>

<%= render 'layouts/menu'%>