<div class = 'container col-md-8'>
<h1> Phase 3 <small>Stabilization (21 days)</small></h1><br>
<p><b> We cannot express enough the importance of maintaing this part of the program/protocol. This is vital to resetting the metabolism, SO YOU WILL <em> NOT </em> REGAIN YOU WEIGHT.</b>
	<br>
	<p>It is imperative that you continue following your low-calorie diet for two days after your last does day. After the last diet day with our spray, you will do 2 additional 600-800 calories <b> Diet Days </b> without taking any spray.</p>
	<br>
	<p> The next 3 weeks (21 days) will be your 'Maintenance Period'. The goal during this time is to "Maintain" the weigh you have lost. This is an important step to completely reset your metabolism via the hypothalamus gland and improve your metabolism.</p><br>
	<p> During the maintenance phase you will try to instill a new weight set point in your body. You should attempt to keep your weight as steady as possible during this phase. It seems the faster this is done and the more consistent one stays at a weight, the quicker the body takes over in making sure the new weight is maintained.</p><br>
	<p> <b> Remember you must completely avoid all white flours and sugar.</b></p>
<br>
<p> You must eat more than you did while on the initial phase. You may now have the additional vegetables and fruits that you couldn't have before (with the exception of potatoes, juice drinks, or dried fruit). Continue to weigh yourself every morning to make sure you don't gain more than 2 pounds on any day.</p><br>
<p> You can purchase and continue to take <b>B12 ENDURE</b> during this phase</p><br>
<p><b>There are no benefits for you to ever eat white flours or sugars as they are empty calories and will convert to fat</b></p>
<br>
<p>As mentioned above, the avoidance of major stress is of the utmost importance. Time and time again, we have seen people regain their weight on this program due to significant stress in their lives. If you do have stress, seek a positive outlet in which you can either reduce or even eliminate your stress.(we offer meditation and yoga classes- and have an online course for those that do not have the time)</p><br>

<br><br>
<center><%= link_to 'Approved Foods/Menu Suggestions >>', pages_phase3_path %></center>
</div>
<br><br>
</div>

<%= render 'layouts/menu' %>