<div class = 'container col-md-8'>
<h1> Plateau Breakers and Daily Loss Rate Maximizes </h1>
<br><br>
<ul>
	<li>Increase water intake to 2-3 quarts per day. Try adding a glass or two of green tea to your day. Cut American beef down or out.</li><br>
	<li> Check all condiments for any form of sugar. 'Garlic Salt' may list sugar as an ingredient. Any seasoning salt or seasoning product must be carefully checked.</li>
	<br>
		<li>If having trouble with constipation, we suggest using 'Chirocleanse', a very good laxative.</li><br>
		<li>Make sure there are no additives in chicken or other protein sources - many times these are injected with some form of sugar even in the grocery store</li>
		<br>
		<li> Consider if you are potentially at your ideal weight. Are you in the suggested weight range for your height and build? Are you also hungry and not feeling as good, etc? It may be time to stop losing.
			<b>Consult your mentor</b>
		</li><br>
		<li> For women, your menstrual cycle may be coming into play. Have you changed or started oe or more medications?</li><br>
		<li> Since the protocol says you are not required to eat all the food each day, you may consider dropping one of your fruits.</li><br>
		<li>You may do an 'apple a day' every so often. To break a plateau, you may have apples throughout the day with purified water and herbal teas.</li>
		<br>
		<li> Consider adding a brisk walk, some yoga, or any type of 15 minute activities to your day - anything that raises the heart rate throughout the day. The activity increases your metabolism and may increase your rate of loss. Exercise is barely mentioned in the protocol. Our interpretation is that exercise is good for everyone; however, it is simply not required to lose weight on this protocol. That being said, we have observed that participants who have a physically demanding job, seemed to maintain a slightly higher daily average weight loss than those who did absolutely no physical activity. If you need some inspiration and motivation check out this article on our personal fitness program.</li><br>
		<li>Make sure you are getting <em>enough sleep</em>. More than a few participants have reported being up late and getting up early and the scale reflecting little to no weight loss. However, simply weighing again an hour or so late (without eating or drinking anything) reveals a drop in the scale of 2 pounds. This suggests that routine and adequate sleep can affect what the scale registers. While this probably doesn't actually affect the rate of loss, it can cause discouragement and, therefore, exceptions such as being up late and getting up early should be kept in mind.</li>
		<br>Check out some of our lifestyle hacks on how you can get enough sleep while getting even more productive.<br><br>
		
</ul><br><br>
<div class = 'alert-box'>
<table>
	<tr>
		<td>
	
		<img src= 'http://furtaev.ru/preview/reminder_small.png'>	

		</td>
		<td>
	<p>An important note to note with AccentWLC system is that when you have dropped for example 16lbs, you have probably lost 14 lbs of abnormal fat. Whereas with other diets, when you lose 16lbs you could be losing 8lbs of lean body mass, 4lbs of good fat reserves and 4lbs. of abnormal fat.</p>
		</td>
	</tr>
</table>
</div>
<br>
<center><%= link_to 'Phase 1 >>', pages_phase1_path %></center>

<br><br>

</div>


<%= render 'layouts/menu' %>